.spinner {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 20%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;


  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}


@keyframes sk-cubemove {
  25% {
    transform: translateX(200px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(200px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(200px) translateY(200px) rotate(105%);
    -webkit-transform: translateX(200px) translateY(200px) rotate(-179deg);
  } 75% {
    transform: translateX(0px) translateY(200px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(200px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
