.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:gray;
  color: white;
  text-align: center;
  font-size:1.2em;
}

.footer .links {
	text-align: left;
	font-size:0.8em;
}