body, html {
  height: 100%;
}

.dynamic-img-size{
	height: 200px;
	width: 200px;
}

.caption {
	position: fixed;
	top:0;
	text-align: center;
	width: 100%;
	vertical-align: text-top;
	color: navy;

	background-color:#111;
	background-image: url("../img/captcha-bg.gif");
	
	height: 15%;
	
	background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    
    font-size: 3em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    opacity:1;
    
}


.bg {
	background-attachment: scroll;
	padding-top: 7%;

  background-image: url("../img/source.gif");

  max-height: 100%;

  background-position: bottom ;
  background-repeat: no-repeat;
   background-size: cover;
   background-clip: content-box;
  
  opacity: 1;
}

header {
  display: block;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}


 .content-margin {
 margin-top:10%;
}

.centrate-cell-content td {
	text-align:center;
}

#footer-centr {
	float: center;
}

#thead-center-alignment{
	text-align: center;
	font-weight: bold;
	text-decoration: italic;
	
}

#bold{
	font-weight: bold;
}

#italics{
	font-style:italic;
}

#underlined{
	text-decoration:underline;
}

#overlined{
	text-decoration:overline;
}

#stroken{
	text-decoration:line-through;
}

#mainpage-h1{
	font-size:3em;
	color:#ae2760;
	text-shadow:0.1em 0.1em #5b263d;
	padding:0.5em 2em;
	background-color:#342f7c;
}

.header1-level{
	font-size:1.5em;
	color:purple;
	background-color:#111;
	padding:0.1em;
}

.header2-level {
	font-size:0.9em;
	color:navy;
	background-color:#101;
	padding:0.05em;
}



.container {
  position: fixed;
  width: 40%;
  top:2%;
  left:3%;
  /* height:15%; */
}

.image {
  opacity: 1;
  display: block;
  width: 100px;
  height: 100px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
 transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 28px;
}


.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:gray;
  color: white;
  text-align: center;
  font-size:1em;
}

.footer .links {
	text-align: justify;
	font-size:1.5em;
}